model/__pycache__/*
model/__pycache__/
model/__pycache__
data/*/*_labels.txt
data/preprocessed_data/*
.vscode
__pycache__
__pycache__*
__pycache__/
/node_modules
model/src
# model/src/ANN.ipynb
# model/src/LSTM.ipynb  
# model/src/Data_presentation.ipynb